[submodule "reference/joystick_gremlin"]
	path = reference/joystick_gremlin
	url = https://github.com/WhiteMagic/JoystickGremlin.git
[submodule "reference/mw5_ffb"]
	path = reference/mw5_ffb
	url = https://github.com/HappyFox/MW5_FFB.git
[submodule "reference/vjoy"]
	path = reference/vjoy
	url = https://github.com/BrunnerInnovation/vJoy.git
[submodule "reference/sidewinder-arduino"]
	path = reference/sidewinder-arduino
	url = https://github.com/Poil/sidewinder-arduino.git
